<div class="college_wrap">
    <row class="college">
        <columns small="8">
            <spacer size="16"></spacer>
            <h4 class="section-head"><img class="head-tag" height="25px" src="https://secure3.convio.net/uw/images/content/pagebuilder/news_tag.png" alt="News From Around The College" /></h4>
            <spacer size="16"></spacer>
            <div class="around_list">
                <a href="http://depts.washington.edu/sefsblog/notes-from-the-field-alaskas-wrangell-mountains/"><p>
                    Notes from the field: Alaska’s Wrangell Mountains,<span> Envionmental and Forest Sciences</span>
                </p></a>
                <a href="http://www.dailyuw.com/science/biology_and_medicine/article_7efaf588-9427-11e6-b39e-3b304849a2a9.html"><p>
                    Ecosystem in a cup,<span> Marine and Environmental Affairs</span>
                </p></a>
                <a href="https://envstudies.uw.edu/2016/10/21/congratulations-to-our-2016-2017-environmental-leadership-scholarship-recipients/"><p>
                    Congratulations to Environmental Studies’ 2016-2017 Environmental Leadership Scholarship recipients,<span> Environmental Studies</span>
                </p></a>
                <a href="https://envstudies.uw.edu/2016/10/10/restoring-was-urban-environment-one-green-space-at-a-time/"><p>
                    Restoring Washington’s urban environments, one green space at a time,<span> Environmental Studies</span>
                </p></a>
                <a href="http://jisao.washington.edu/press/staffspotlights/okazaki"><p>
                    Staff spotlight: Remy Okazaki,<span> Joint Institute for the Study of the Atmosphere and Ocean</span>
                </p></a>
                <a href="http://www.waspacegrant.org/for_students/undergraduate_programs/scholarships/uw/incoming_freshman/uw_scholars_freshman.html"><p>
                    Scholarships for incoming freshmen at University of Washington,<span> Washington NASA Space Grant Consortium</span>
                </p></a>
                <a href="https://wsg.washington.edu/washington-grad-students-tackle-real-world-marine-challenges/"><p>
                    Washington grad students tackle real-world marine challenges,<span> Washington Sea Grant</span>
                </p></a>
                <a href="https://www.nwclimatescience.org/sites/default/files/NWClimateMag2016.pdf"><p>
                    NW Climate Magazine, October 2016 issue,<span> Northwest Climate Science Center</span>
                </p></a>
                <a href="http://www.dailyuw.com/science/article_37b2c1da-9998-11e6-b610-4fe8be6fc35e.html"><p>
                    CO2: The musical,<span> Atmospheric Sciences</span>
                </p></a>
            </div>
        </columns>
    </row>
</div>
