<div class="college_wrap">
    <row class="college">
        <columns small="8">
            <spacer size="16"></spacer>
            <h4 class="section-head"><img class="head-tag" height="25px" src="https://explore.uw.edu/rs/131-AQO-225/images/news_tag.png" alt="News From Around The College" /></h4>
            <spacer size="16"></spacer>
            <div class="around_list">
                <a href="http://depts.washington.edu/sefsblog/undergrad-spotlight-linnea-kessler/"><p>
                    Undergrad spotlight: Linnea Kessler,<span> Envionmental and Forest Sciences</span>
                </p></a>
                <a href="https://botanicgardens.uw.edu/about/blog/2016/11/01/uw-community-gathers-to-celebrate-the-completion-of-the-yesler-swamp-boardwalk/"><p>
                    UW community gathers to clebrate the completion of the Yesler Swamp Boardwalk,<span> UW Botanic Gardens</span>
                </p></a>
                <a href="https://medium.com/@SarahEMoffitt/climate-education-in-a-hostile-culture-moving-forward-doing-better-together-5d971b0871d7#.sxka0piin"><p>
                    UW Environment scientists discuss what the current political climate will mean for climate education,<span> Oceanography</span>
                </p></a>
                <a href="https://pcc.uw.edu/blog/2016/11/17/on-being-a-climate-scientist"><p>
                    On being a climate scientist,<span> Program on Climate Change</span>
                </p></a>
                <a href="https://www.reddit.com/r/science/comments/5dzevy/science_ama_series_im_christine_stawitz_a_phd/"><p>
                    Science AMA with Ph.D. Christine Stawitz,<span> Aquatic and Fishery Sciences</span>
                </p></a>
            </div>
        </columns>
    </row>
</div>
