<container>
    <row class="uw_header collapse">
        <th width="28">
        </th>
        <columns class="mast" small="5" large="5">
            <spacer size="30"></spacer>
            <a href="https://environment.uw.edu/"><img class="college-logo" width="220px" src="https://secure3.convio.net/uw/images/content/pagebuilder/COEnv_logo.png" /></a>
        </columns>
        <columns align="right" class="mast-w text-right" small="3" large="3">
            <spacer size="25"></spacer>
            <a class="w-logo-link" href="https://www.washington.edu/"><img align="right" width="75px" class="text-right float-right w-logo" src="https://secure3.convio.net/uw/images/content/pagebuilder/W_logo.png" /></a>
        </columns>
    </row>
    <row class="title-bar collapse">
        <columns>
        </columns>
        <columns>
            <spacer size="20"></spacer>
            <center>
                <img width="320" src="https://secure3.convio.net/uw/images/content/pagebuilder/Headlines_logo.png" alt="College of the Environment Headlines" class="title-img" />
            </center>
            <spacer size="10"></spacer>
            <p class="text-center mail_date" valign="bottom">March 2017</p>
        </columns>
        <columns>
        </columns>
    </row>
