<script type="text/javascript">
    window.onload = function() {
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];;
    var date = new Date();
  
    document.getElementById('date').innerHTML = months[date.getMonth()] + ' ' + date.getFullYear();
  };
</script>
<!--delete EVERYTHING above here in Marketo-->

<container>
    <row class="uw_header collapse">
        <th width="28">
        </th>
        <columns class="mast" small="5" large="5">
            <spacer size="30"></spacer>
            <a href="https://environment.uw.edu/"><img class="college-logo" width="220px" src="https://explore.uw.edu/rs/131-AQO-225/images/COEnv_logo.png" /></a>
        </columns>
        <columns align="right" class="mast-w text-right" small="3" large="3">
            <spacer size="25"></spacer>
            <a class="w-logo-link" href="https://www.washington.edu/"><img align="right" width="75px" class="text-right float-right w-logo" src="https://explore.uw.edu/rs/131-AQO-225/images/W_logo.png" /></a>
        </columns>
    </row>
    <row class="title-bar collapse">
        <columns>
        </columns>
        <columns>
            <spacer size="20"></spacer>
            <center>
                <img width="320" src="https://explore.uw.edu/rs/131-AQO-225/images/Headlines_logo.png" alt="College of the Environment Headlines" class="title-img" />
            </center>
            <spacer size="10"></spacer>
            <p class="text-center mail_date" id="date" style="margin-bottom:0px;" valign="bottom"></p>
        </columns>
        <columns>
        </columns>
    </row>
