<wrapper class="social-wrap">
    <row class="social">
        <columns class="social-title" small="8">
            <spacer size="15"></spacer>
            <center>
                <h4 class="social-head"><img class="head-tag" height="25px" src="https://explore.uw.edu/rs/131-AQO-225/images/need_tag.png" alt="We Can Help!"/></h4>
            </center>
        </columns>
    </row>
    <row class="social scicomm">
        <columns small="8">
            <p class="scicomm-text">The Science Communication Team at the College of the Environment is dedicated to helping you shine a light on your research, teaching or outreach activities. Whether preparing for a media interview, learning the ins and outs of giving congressional testimony, or simply working on a sharp description of what you do, we can help!</p>
            <spacer size="25"></spacer>
        <row>
            <columns small="8" large="4" align="center" class="text-center">
                <center><a href="https://environment.uw.edu/research/science-communication-outreach/"><img class="float-center" width="150" src="https://explore.uw.edu/rs/131-AQO-225/images/learn_button.png" /></a></center>
            </columns>
            <columns small="8" large="4" align="center" class="text-center">
                <center><a href="mailto:coenvcom@uw.edu"><img width="150" class="float-center" src="https://explore.uw.edu/rs/131-AQO-225/images/contact_button.png" /></a></center>
            </columns>
        </row>
        </columns>
    </row>
</wrapper>
