<wrapper class="social-wrap">
    <row class="social">
        <columns class="social-title" small="8">
            <spacer size="15"></spacer>
            <center>
                <h4 class="social-head"><img class="head-tag" height="25px" src="https://secure3.convio.net/uw/images/content/pagebuilder/need_tag.png" alt="We Can Help!"/></h4>
            </center>
        </columns>
    </row>
    <row class="social scicomm">
        <columns small="8">
            <p class="scicomm-text">The Science Communication Team at the College of the Environment is dedicated to helping you shine a light on your research, teaching or outreach activities. Whether preparing for a media interview, learning the ins and outs of giving congressional testimony, or simply working on a sharp description of what you do, we can help!</p>
            <spacer size="25"></spacer>
        <row>
            <columns small="4">
                <a href="https://environment.uw.edu/research/science-communication-outreach/"><center><img class="" width="150px" src="http://uwbg-skel.uw.dev/assets/learn_button.png" /></center></a>
            </columns>
            <columns small="4">
                <a href="mailto:coenvcom@uw.edu"><center><img width="150px" class="" src="http://uwbg-skel.uw.dev/assets/contact_button.png" /></center></a>
            </columns>
        </row>
        </columns>
    </row>
</wrapper>
