    <spacer size="15"></spacer>
    <row class="footer-logos">
        <columns valign="middle" class="text-center" align="center" small="8" large="4">
            <center><a href="https://environment.uw.edu/"><img align="center" width="225px" class="float-center text-center mast-footer" src="https://explore.uw.edu/rs/131-AQO-225/images/W_COEnv_logo.png" alt="" /></a></center>
        </columns>
        <columns class="boundless-footer text-center" align="center" small="8" large="4">
            <center><a href="https://www.washington.edu/boundless"><img align="center" width="175px" class="float-center text-center boundless-img" src="https://explore.uw.edu/rs/131-AQO-225/images/headlines_boundless_footer.png" alt="" /></a></center>
        </columns>
    </row>
    <row class="footer-contact">
        <columns class="footer-text" small="8">
            <spacer size="10"></spacer>
            <p class="small text-center">© University of Washington College of the Environment</p>
            <p class="small text-center">1492 NE Boat St., Seattle, WA 98105</p>
            <p class="small text-center"><a href="http://www.washington.edu/online/privacy/">Privacy</a> | <a href="http://www.washington.edu/online/terms/">Terms</a> | <a href="https://environment.uw.edu/about/contact-us/">Contact</a> </p>
            <p class="small text-center"><a href="{{system.forwardToFriendLink}}">Forward this email to a friend</a></p>
            <p class="small text-center">This email was sent to <a href="mailto:{{lead.Email Address}}"></a> 
            <p class="small text-center"><a href="https://subscribe.gifts.washington.edu/SubscriptionManagement/Email?SubscriberToken={{lead.SubscriberToken}}&amp;ProgramID={{program.id}}">Unsubscribe or change your email preferences</a></p>
        </columns>
    </row>
</container>
