<container>
    <row class="uw_header collapse">
        <th width="28">
        </th>
        <columns class="mast" small="5" large="5">
            <spacer size="30"></spacer>
            <a href="https://environment.uw.edu/"><img class="college-logo" width="220px" src="https://explore.uw.edu/rs/131-AQO-225/images/COEnv_logo.png" /></a>
        </columns>
        <columns align="right" class="mast-w text-right" small="3" large="3">
            <spacer size="25"></spacer>
            <a class="w-logo-link" href="https://www.washington.edu/"><img align="right" width="75px" class="text-right float-right w-logo" src="https://explore.uw.edu/rs/131-AQO-225/images/W_logo.png" /></a>
        </columns>
    </row>
    <row class="title-bar collapse text-center">
        <center><img src="https://explore.uw.edu/rs/131-AQO-225/images/sciComm_header.png" alt="College of the Environment Science Communication Header" class="title-img-scicomm" width="640" /></center>
    </row>
