<wrapper class="social-wrap">
    <row class="social">
        <columns class="social-title" small="8">
            <spacer size="15"></spacer>
            <center>
                <h4 class="social-head"><img class="head-tag" height="25px" src="https://secure3.convio.net/uw/images/content/pagebuilder/socialMedia_tag.png" alt="Social Media"/></h4>
            </center>
        </columns>
    </row>
    <row class="social collapse">
        <columns>
        </columns>
        <columns align="center" class="social-block text-center">
                <center><a class="text-center" href="https://www.facebook.com/UWCoEnv"><img align="center" class="float-center icon facebook" id="" src="https://secure3.convio.net/uw/images/content/pagebuilder/facebook55038.png" alt="Facebook" /></a></center>
        </columns>
        <columns align="center" class="social-block text-center">
                <spacer size="5"></spacer>
                <center><a class="text-center" href="https://twitter.com/UW_CoEnv"><img align="center" class="icon twitter float-center" id="" src="https://secure3.convio.net/uw/images/content/pagebuilder/twitter55040.png" alt="Twitter" /></a></center>
        </columns>
        <columns align="center" class="social-block text-center">
                <center><a class="text-center" href="https://www.instagram.com/uwenvironment/"><img align="center" class="icon insta float-center" id="" src="https://secure3.convio.net/uw/images/content/pagebuilder/instagram55039.png" alt="Instagram" /></a></center>
        </columns>
        <columns>
        </columns>
    </row>
</wrapper>
